// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Переменные для блока
$fz_abzac: 2.25em;
$color_abzac: #013652; 
$color_border:#DBC6B0;
$color_description_two_page:#2E363E;
$color_white: white;

//Шаблоны
.abzac {
    font-family: 'Noto Serif', serif;
    font-style: bold;
    font-weight: 700;
    font-size: $fz_abzac;
    line-height: 2.938em;
    color: $color_abzac;
}

.links {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 100%;
    color: $color_abzac;
}

.logo-header {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 100%;
    color: $color_abzac;
}

.icons-two-page {
    width: 6.25em;
    height: 6.25em;
    fill: $color_border;
    border: 0.25em solid $color_border;
}

body {
    // background-color: #185D77 !important;
    background-color: rgb(140, 250, 140) !important;
    * a {
        text-decoration: none !important;
    }  
}



