// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Переменные для блока
$fz_abzac: 2.25em;
$color_abzac: #013652;
$color_border:#DBC6B0;
$color_description_two_page:#2E363E;
$color_white: white;
$font_motoserrat: 'Montserrat', sans-serif;
$font_notoserif: 'Noto Serif', serif;

//Шаблоны
.abzac {
    font-family: 'Noto Serif', serif;
    font-style: bold;
    font-weight: 700;
    font-size: $fz_abzac;
    line-height: 2.938em;
    color: $color_abzac;
}

.links {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 100%;
    color: $color_abzac;
}

.logo-header {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 100%;
    color: $color_abzac;
}

.icons-two-page {
    width: 6.25em;
    height: 6.25em;
    fill: $color_border;
    border: 0.25em solid $color_border;
}

.icons-two-page-span {
    color: white;
    font-family: $font_notoserif;
    font-weight: 400;
    font-size: 1.563em;
    text-align: center;
    padding-top: 0.5em;
}

body {
    // background-color: #185D77 !important;
    background-color: #bfbfbf !important;

    * a {
        text-decoration: none !important;
    }

    // @import "css_page/one_page.scss";
    
    .one_page {
        margin: 0 auto;
        background: url(../img/logo/back-header.jpg) no-repeat;
        max-width: 120em;
        height: 67.5em;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        .contact_head {

            * a {
                color: white !important;
                font-family: $font_motoserrat;
                font-weight: 500;
                font-size: 1.188em;
                line-height: 27px;
                &:hover {
                    color:#00f3ff !important;
                    font-size: 1.2em;
                    transition: 0.6s;
                }
            }

            .flex_head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                max-width: 120em;
                width: 100%;
                background-color: rgba(45, 96, 112, 0.9);
                opacity: 0.8;
                padding: 1.25em;
                .flex_logo_description_header {
                    display: flex;
                    align-items:center;
                    & span {
                        color:white;
                        padding-left: 0.5em;
                        font-family: $font_motoserrat;
                        font-weight: 500;
                        font-size: 1.188em;
                        line-height: 27px;
                    }
                }

                .flex_links_header {
                    display: flex;
                    justify-content: space-between;
                    width: 34.375em;
                }

                .flex_contact_header {
                    display: flex;
                    align-items:center;
                    & a {
                        padding-left: 0.5em;
                    }
                }
            }           
        }

        .back_head {
            color:white;
            display: flex;
            flex-direction: column;
            align-items:center;
            max-height: 100%;
            .flex_center_back_head {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:center;
                max-height: 100%;
                .logo_gold {
                    background:url(../img/logo/logotip-removebg.png) no-repeat;
                    max-width: 50em;
                    height: 40em;
                    background-size:contain;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin-bottom: 5em;
                    align-items:center;
                    
                    .title {
                        background-color:rgba(39, 63, 68, 0.4);
                    }
                    span {
                        color:rgba(208, 175, 144, 1);
                        font-family: $font_notoserif;
                        font-weight: 500;
                        font-size: 5.625em;
                        letter-spacing: 0.5rem;                
                        }
                    }  
                } 
                .btn_description {
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                    width: 48.625em;
                    button {
                        background-color:#DA7F27;
                        border-radius: 0.313em;
                        color: white;
                        padding: 1.25em 2.5em;
                        font-family: $font_motoserrat;
                        font-size: 1.125em;
                        font-weight: 500;
                        &:hover {
                            color:black;
                            transition: 0.6s;
                        }
                    }
                    .description_back_head_block {
                        width: 25em;
                        text-align: center; 
                        span {
                            font-family: $font_notoserif;
                            font-size: 3em;
                            font-weight: 400; 
                        }
                    }   
                }   
            }
        }
    
    .two_page {
        margin: 0 auto;
        background:url(../img/back/ica-back.jpg) no-repeat;
        max-width: 120em;
        height: 67.5em;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .left_block_two_page {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 67.5em;
            .left_block_two_page_collection_span {
                border: solid 10px #DBC6B0;
                padding: 0.688em 2.375em;
                span {
                    color: #013652;
                    font-family: $font_notoserif;
                    font-size: 3em;
                    font-weight: 700;
                }
            }

            .left_block_two_page_image {
                img {
                    width: 54em;
                    height: 27em;
                }
            }

            .left_block_two_page_description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 54em;

                .left_block_two_page_description_leftMiddle {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 40em;

                    .left_block_two_page_description_left_block {
                        display: flex;
                        flex-direction: column;
                        & span {
                            border-bottom: solid 2px #DBC6B0;
                            color:#2E363E;
                            font-family: $font_notoserif;
                            font-weight: 500;
                            font-size: 1.625em;
                            padding: 1em;
                        }
                    }

                    .left_block_two_page_description_middle_block {
                        display: flex;
                        flex-direction: column;
                        & span {
                            border-bottom: solid 2px #DBC6B0;
                            color:#2E363E;
                            font-family: $font_notoserif;
                            font-weight: 500;
                            font-size: 1.625em;
                            padding: 1em;
                        }
                    }
                }

                .left_block_two_page_description_right_block {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items:center;
                    
                    .left_block_two_page_description_right_block_border {
                        border: solid 10px #DBC6B0;
                        text-align: center;
                        padding: 0.688em 1.375em;
                        
                        span {
                            color: #013652;
                            font-family: $font_notoserif;
                            font-size: 1.8em;
                            font-weight: 700;
                            white-space: nowrap;
                        }
                    }

                    .left_block_two_page_description_right_block_line {
                        margin-left: 8em;
                    }
                }
            }
        }

        .right_block_two_page {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 67.5em;

            .right_block_two_page_image {
                width: 47em;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-left: 5em;
                img {
                    width: 32.625em;
                    height: 21.313em;
                }
            }

            .right_block_two_page_adress {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                text-align: left;
                span {
                    border-bottom: solid 2px #DBC6B0;
                    color:#2E363E;
                    font-family: $font_notoserif;
                    font-weight: 500;
                    font-size: 1.625em;
                    padding: 0.2em;
                }
            }

            .right_block_two_page_icons {
                width: 53.75em;
                height: 26.875em;
                background: url(../img/back/back-gor.jpg) no-repeat;
                background-size: cover;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                

                .icon_top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .icon_top_of_span {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items:center;
                        img {
                            width: 6.25em;
                            height: 6.25em;
                            border: solid 2px #DBC6B0;
                            padding: 0.4em;
                        }
                        span {
                            @extend .icons-two-page-span;
                        }
                    }
                    
                }
                .icon_bottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    
                    .icon_bottom_of_span {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items:center;
                        img {
                            width: 6.25em;
                            height: 6.25em;
                            border: solid 2px #DBC6B0;
                            padding: 0.4em;
                        }
                        span {
                            @extend .icons-two-page-span;
                        }
                    }                
                }
            }
        }
    }

    .three_page_men {
        margin: 0 auto;
        background:url(../img/Men/entourage/back-men-fon.jpg) no-repeat;
        max-width: 120em;
        height: 67.5em;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .three_page_title {
            h2 {
                font-weight: 200;
                font-family: $font_notoserif;
                font-size: 5em;
                color:white;
                background-color:#58585866;
                border-radius:3em;
                padding: 0.2em;
            }
        }

        .three_page_slider {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .arrow {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 97.938em;
                padding-bottom: 1em;
            }

            .slides {
                img {
                    width: 36.5em;
                    height: 37.5em;
                    padding: 1.5em;
                }  
            }
        }

        .three_page_btn {
            button {
                background-color:#DA7F27;
                border-radius: 0.313em;
                color: white;
                padding: 1em 1em;
                font-family: $font_motoserrat;
                font-size: 1.875em;
                font-weight: 500;
                max-width: 18.125em;
                height: 6.25em;
                letter-spacing: 0.2em;
                & a {
                    color:white;
                    &:hover {
                        color:black;
                        transition: 0.6s;
                    };
                }  
            }
        }
    }
}
