// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Переменные для блока
$fz_abzac: 2.25em;
$color_abzac: #013652; 
$color_border:#DBC6B0;
$color_description_two_page:#2E363E;
$color_white: white;

//Шаблоны
.abzac {
    font-family: 'Noto Serif', serif;
    font-style: bold;
    font-weight: 700;
    font-size: $fz_abzac;
    line-height: 2.938em;
    color: $color_abzac;
}

.links {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 100%;
    color: $color_abzac;
}

.logo-header {
    font-style: normal;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 100%;
    color: $color_abzac;
}

.icons-two-page {
    width: 6.25em;
    height: 6.25em;
    fill: $color_border;
    border: 0.25em solid $color_border;
}

body {
    // background-color: #185D77 !important;
    background-color: rgb(140, 250, 140) !important;
    * a {
        text-decoration: none !important;
    }
    header {
        .wrap_header {
            height: 7.5em;
            left: 0;
            z-index: 1;
            background-color: #2D6070;
            opacity: 0.9;
            padding: 15px !important;
            & a {
                color: $color_white;
                @extend .links;
            }

            .logo {
                img {
                    width: 5em;
                    height: 5em;
                }
                span {
                    color: $color_white;
                    @extend .logo-header;
                    margin-left: 10px;
                }
            }

            .header_description {
                width: 43.7em;
            }

            .contact_header_tel {
                img {
                    margin-right: 1em;
                }
            }
            
        }

        .back_one_page {
            // width: 100%;
            height: 100%;
            // left: 0 !important;
            z-index: 0;
            .one-page-back-img {
                width: 100%;
                height: 100%;
                background: url(../img/logo/back-header.jpg) no-repeat;
            }
            .logo_fon {
                margin-top: 5%;
                img {
                    width: 85%;
                    z-index: 1;
                }
                .span_rectangle {
                    background-color:rgba(39, 63, 68, 0.5);
                    border-radius: 20%;
                    margin-top: -24rem;
                    margin-left: 10rem; 
                    z-index: 0;
                    span {                 
                        font-family: 'Noto Serif', serif;
                        font-style: bold;
                        font-weight: 700;
                        font-size: 5em;
                        line-height: 2.938em;
                        letter-spacing: 3rem;
                        color: #ddb97e;
                        
                    }
                }         
            }
            .buy_span {
                min-width: 600px;
                max-width: 90rem;
                margin-top: 7em;    
                // Сделать адаптив через медиа запросы
                button {
                    background-color:#DA7F27;
                    padding: 25px 50px;
                    border-radius: 7%;
                    a {
                        color: $color_white;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 2.125em;
                        margin-top: -24rem;
                    }
                }
                span {
                    color: $color_white;
                    font-family: 'Noto Serif', serif;
                    font-size: 5em;
                    letter-spacing: 0.2em;
                    margin-left: 25rem;
                    background-color:rgba(39, 63, 68, 0.35);
                    border-radius: 15%;
                    padding: 20px;
                }
            }
        }        
    }
    
}



