@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.abzac {
  font-family: 'Noto Serif', serif;
  font-style: bold;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 2.938em;
  color: #013652;
}

.links {
  font-style: normal;
  font-weight: lighter;
  font-size: 1.8em;
  line-height: 100%;
  color: #013652;
}

.logo-header {
  font-style: normal;
  font-weight: lighter;
  font-size: 1.8em;
  line-height: 100%;
  color: #013652;
}

.icons-two-page {
  width: 6.25em;
  height: 6.25em;
  fill: #DBC6B0;
  border: 0.25em solid #DBC6B0;
}

.icons-two-page-span, body .two_page .right_block_two_page .right_block_two_page_icons .icon_top .icon_top_of_span span, body .two_page .right_block_two_page .right_block_two_page_icons .icon_bottom .icon_bottom_of_span span {
  color: white;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 1.563em;
  text-align: center;
  padding-top: 0.5em;
}

body {
  background-color: #bfbfbf !important;
}

body * a {
  text-decoration: none !important;
}

body .one_page {
  margin: 0 auto;
  background: url(../img/logo/back-header.jpg) no-repeat;
  max-width: 120em;
  height: 67.5em;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .one_page .contact_head * a {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.188em;
  line-height: 27px;
}

body .one_page .contact_head * a:hover {
  color: #00f3ff !important;
  font-size: 1.2em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .one_page .contact_head .flex_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  max-width: 120em;
  width: 100%;
  background-color: rgba(45, 96, 112, 0.9);
  opacity: 0.8;
  padding: 1.25em;
}

body .one_page .contact_head .flex_head .flex_logo_description_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .one_page .contact_head .flex_head .flex_logo_description_header span {
  color: white;
  padding-left: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.188em;
  line-height: 27px;
}

body .one_page .contact_head .flex_head .flex_links_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34.375em;
}

body .one_page .contact_head .flex_head .flex_contact_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .one_page .contact_head .flex_head .flex_contact_header a {
  padding-left: 0.5em;
}

body .one_page .back_head {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

body .one_page .back_head .flex_center_back_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

body .one_page .back_head .flex_center_back_head .logo_gold {
  background: url(../img/logo/logotip-removebg.png) no-repeat;
  max-width: 50em;
  height: 40em;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .one_page .back_head .flex_center_back_head .logo_gold span {
  color: #d0af90;
  background-color: rgba(39, 63, 68, 0.4);
  border-radius: 1em;
  padding: 0.2em;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 5.625em;
  letter-spacing: 0.5rem;
}

body .one_page .back_head .btn_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48.625em;
}

body .one_page .back_head .btn_description button {
  background-color: #DA7F27;
  border-radius: 0.313em;
  color: white;
  padding: 1.25em 2.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}

body .one_page .back_head .btn_description button:hover {
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .one_page .back_head .btn_description .description_back_head_block {
  width: 25em;
  text-align: center;
}

body .one_page .back_head .btn_description .description_back_head_block span {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: 400;
}

body .two_page {
  margin: 0 auto;
  background: url(../img/back/ica-back.jpg) no-repeat;
  max-width: 120em;
  height: 67.5em;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .two_page .left_block_two_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67.5em;
}

body .two_page .left_block_two_page .left_block_two_page_collection_span {
  border: solid 10px #DBC6B0;
  padding: 0.688em 2.375em;
}

body .two_page .left_block_two_page .left_block_two_page_collection_span span {
  color: #013652;
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: 700;
}

body .two_page .left_block_two_page .left_block_two_page_image img {
  width: 54em;
  height: 27em;
}

body .two_page .left_block_two_page .left_block_two_page_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 54em;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_leftMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40em;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_leftMiddle .left_block_two_page_description_left_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_leftMiddle .left_block_two_page_description_left_block span {
  border-bottom: solid 2px #DBC6B0;
  color: #2E363E;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 1.625em;
  padding: 1em;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_leftMiddle .left_block_two_page_description_middle_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_leftMiddle .left_block_two_page_description_middle_block span {
  border-bottom: solid 2px #DBC6B0;
  color: #2E363E;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 1.625em;
  padding: 1em;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_right_block .left_block_two_page_description_right_block_border {
  border: solid 10px #DBC6B0;
  text-align: center;
  padding: 0.688em 1.375em;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_right_block .left_block_two_page_description_right_block_border span {
  color: #013652;
  font-family: "Noto Serif", serif;
  font-size: 1.8em;
  font-weight: 700;
  white-space: nowrap;
}

body .two_page .left_block_two_page .left_block_two_page_description .left_block_two_page_description_right_block .left_block_two_page_description_right_block_line {
  margin-left: 8em;
}

body .two_page .right_block_two_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67.5em;
}

body .two_page .right_block_two_page .right_block_two_page_image {
  width: 47em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 5em;
}

body .two_page .right_block_two_page .right_block_two_page_image img {
  width: 32.625em;
  height: 21.313em;
}

body .two_page .right_block_two_page .right_block_two_page_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

body .two_page .right_block_two_page .right_block_two_page_adress span {
  border-bottom: solid 2px #DBC6B0;
  color: #2E363E;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 1.625em;
  padding: 0.2em;
}

body .two_page .right_block_two_page .right_block_two_page_icons {
  width: 53.75em;
  height: 26.875em;
  background: url(../img/back/back-gor.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .two_page .right_block_two_page .right_block_two_page_icons .icon_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .two_page .right_block_two_page .right_block_two_page_icons .icon_top .icon_top_of_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .two_page .right_block_two_page .right_block_two_page_icons .icon_top .icon_top_of_span img {
  width: 6.25em;
  height: 6.25em;
  border: solid 2px #DBC6B0;
  padding: 0.4em;
}

body .two_page .right_block_two_page .right_block_two_page_icons .icon_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .two_page .right_block_two_page .right_block_two_page_icons .icon_bottom .icon_bottom_of_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .two_page .right_block_two_page .right_block_two_page_icons .icon_bottom .icon_bottom_of_span img {
  width: 6.25em;
  height: 6.25em;
  border: solid 2px #DBC6B0;
  padding: 0.4em;
}

body .three_page_men {
  margin: 0 auto;
  background: url(../img/Men/entourage/back-men-fon.jpg) no-repeat;
  max-width: 120em;
  height: 67.5em;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .three_page_men .three_page_title h2 {
  font-weight: 200;
  font-family: "Noto Serif", serif;
  font-size: 5em;
  color: white;
  background-color: #58585866;
  border-radius: 3em;
  padding: 0.2em;
}

body .three_page_men .three_page_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .three_page_men .three_page_slider .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 97.938em;
  padding-bottom: 1em;
}

body .three_page_men .three_page_slider .slides img {
  width: 26.5em;
  height: 27.5em;
  padding: 1.5em;
}

body .three_page_men .three_page_btn button {
  background-color: #DA7F27;
  border-radius: 0.313em;
  color: white;
  padding: 1em 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  max-width: 18.125em;
  height: 6.25em;
  letter-spacing: 0.2em;
}

body .three_page_men .three_page_btn button a {
  color: white;
}

body .three_page_men .three_page_btn button a:hover {
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .four_page_woomen {
  margin: 0 auto;
  background: url(../img/Woomen/entourage/woomen-photoshop.jpg) no-repeat;
  max-width: 120em;
  height: 67.5em;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .four_page_woomen .four_page_title h2 {
  font-weight: 200;
  font-family: "Noto Serif", serif;
  font-size: 5em;
  color: white;
  background-color: #58585866;
  border-radius: 3em;
  padding: 0.2em;
}

body .four_page_woomen .four_page_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .four_page_woomen .four_page_slider .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 97.938em;
  padding-bottom: 1em;
}

body .four_page_woomen .four_page_slider .slides img {
  width: 26.5em;
  height: 27.5em;
  padding: 1.5em;
}

body .four_page_woomen .four_page_btn button {
  background-color: #DA7F27;
  border-radius: 0.313em;
  color: white;
  padding: 1em 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  max-width: 18.125em;
  height: 6.25em;
  letter-spacing: 0.2em;
}

body .four_page_woomen .four_page_btn button a {
  color: white;
}

body .four_page_woomen .four_page_btn button a:hover {
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
/*# sourceMappingURL=style.css.map */