body {
    /* background-color: red; */
}

 .img {
    position: absolute;
    background-color: blue;
    width: 400px;
    height: 400px;
}

 .abs {
    background: url(back-men.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    position: relative;
    right: -65px;
}

.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}